doctype html
html 
    include helper.pug
    head
    body
        .navbar 
            h2.mainText Edit Profile
        include helper.pug
        .form
            form(action='/edit_profile' method='post')
                p#username
                    label(for='username') Change username:
                    input(type='text' name='username' placeholder=username minlength='3' maxlength='15')
                p
                    label(for='bio') Change bio:
                    input#bio(type='text' name='bio' placeholder=bio rows='4' cols='50' maxlength='100')
                p
                    label(for='gender') Change gender:
                    input(type='text' name='gender' placeholder=gender maxlength='18')
                //- p 
                //-     a(href="/") Change password
                p
                    input(type='submit' value='Save details!')
        