doctype html
html 
    head
        script(defer type="text/javascript" src="/js/helper.js")
    body
        .navbar 
            button(type='button' onclick="generate_funny()").serotonin Click me or else...
        include helper.pug
        img#funny-pic(src='' alt='funny')

        

//- img.pic(src='/images/dogg.jpeg' alt='Construction Dog') 